<%- include('../partials/header') %>

<form id="add-ticket-form" action="/flights/show" method="POST">
    <label>Seat:</label>
    <input type="text" name="seat">
    <label>price:</label>
    <input type="number" name="price">
    <input type="submit" value="Add Ticket">
</form> 

