<%- include('../partials/header') %>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus consequatur ipsa inventore, eos similique placeat, voluptates fuga pariatur quod possimus ut minima optio corrupti sequi? Maiores tenetur fuga consequuntur harum!</p>